langchain>=0.1.14
langgraph>=0.0.18
openai>=1.14.0
tiktoken
chromadb>=0.4.18
langchain-community>=0.0.13
pypdf>=3.17.1
numpy
scipy
pytest
python-dotenv
langchain-text-splitters>=0.0.1
langchain-google-genai>=0.0.2
google-generativeai>=0.3.0
streamlit